<%- include("partials/header.ejs") %>


<h1>BloggerX - Nền Tảng Blog Đa Chức Năng</h1>

<p>
    Chào mừng bạn đến với "BloggerX" – Nơi Kết Nối Cộng Đồng Bloggers! BloggerX là một nền tảng blog đa chức năng, mang đến trải nghiệm tuyệt vời cho cả những người mới bắt đầu và những người có kinh nghiệm.
</p>

<ul>
    <li>Tạo Tài Khoản và Đăng Nhập</li>
    <li>Đăng Ký và Quản Lý Blog Của Bạn</li>
    <li>Viết và Chia Sẻ Bài Viết</li>
    <li>Đọc và Tương Tác với Blog Khác</li>
    <li>Sửa và Xóa Blog Một Cách Thuận Tiện</li>
</ul>

<p>
    Hãy tham gia vào BloggerX ngay hôm nay và khám phá sức sáng tạo của bạn qua từng bản blog!
</p>