<%- include("partials/header.ejs") %>


<form action="" method="post">
        <h2>Share Blog</h2>
        
        <label for="title">Title</label>
        <input type="text" name="title" required>

        <label for="content">Content</label>
        <textarea name="content" id="" cols="30" rows="10"></textarea>

        <button>Share !</button>

</form>