<%- include("partials/header.ejs") %>


<form action="" method="post">
        <h2>Sign up</h2>
        <label for="username">Username</label>
        <input type="text" name="username" required>

        <label for="email">Email</label>
        <input type="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <button>Sign up</button>

</form>